Repository voxpupuli/puppet-elasticsearch, pull requests merged in 2021-11, with the labels that each got.

#1131 config.pp: fix typo
  manifests/config.pp
Labels: bug

#1128 Add support for Puppet 7
  metadata.json
Labels: enhancement

#1126 Drop support of Puppet 4 and 5 (EOL)
  metadata.json
Labels: backwards-incompatible

#1127 Unlist Operating Systems which have reached EOL
  metadata.json
Labels: backwards-incompatible
