Repository voxpupuli/puppet-elasticsearch, pull requests merged in 2023-01, with the labels that each got.

#1184 Make datadir and logdir management optional
  data/common.yaml
  manifests/config.pp
  manifests/init.pp
  spec/classes/000_elasticsearch_init_spec.rb
Labels: enhancement

#1179 modulesync 5.4.0
  .msync.yml
  .sync.yml
  Gemfile
Labels: modulesync

#1187 Release 8.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
