Repository voxpupuli/puppet-elasticsearch, pull requests merged in 2024-02, with the labels that each got.

#1192 modulesync 7.3.0; allow stdlib 9.x
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/puppet/parser/functions/concat_merge.rb
  lib/puppet/parser/functions/deep_implode.rb
  lib/puppet/parser/functions/es_plugin_name.rb
  lib/puppet/provider/elastic_plugin.rb
  lib/puppet/type/elasticsearch_component_template.rb
  lib/puppet/type/elasticsearch_ilm_policy.rb
  lib/puppet/type/elasticsearch_index_template.rb
  lib/puppet/type/elasticsearch_license.rb
  lib/puppet/type/elasticsearch_slm_policy.rb
  lib/puppet/type/elasticsearch_template.rb
  metadata.json
  spec/helpers/acceptance/tests/component_template_shared_examples.rb
  spec/helpers/acceptance/tests/datadir_shared_examples.rb
  spec/helpers/acceptance/tests/ilm_policy_shared_examples.rb
  spec/helpers/acceptance/tests/index_template_shared_examples.rb
  spec/helpers/acceptance/tests/package_url_shared_examples.rb
  spec/helpers/acceptance/tests/plugin_shared_examples.rb
  spec/helpers/acceptance/tests/security_shared_examples.rb
  spec/helpers/acceptance/tests/slm_policy_shared_examples.rb
  spec/helpers/acceptance/tests/template_shared_examples.rb
  spec/helpers/unit/provider/elasticsearch_rest_shared_examples.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/spec_utilities.rb
  spec/support/acceptance/elastic.rb
  spec/unit/provider/elasticsearch_plugin/shared_examples.rb
Labels: enhancement

#1213 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#1214 Drop Debian 10 support
  metadata.json
Labels: backwards-incompatible

#1215 Release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
