Repository voxpupuli/puppet-elasticsearch, pull requests merged in 2025-06, with the labels that each got.

#1245 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#1246 Drop Scientific Linux
  metadata.json
Labels: backwards-incompatible

#1247 Add RedHat/CentOS/OracleLinux 9
  metadata.json
Labels: enhancement

#1248 Add AlmaLinux 8 and 9
  metadata.json
Labels: enhancement

#1255 Drop SLES 12
  metadata.json
Labels: backwards-incompatible

#1250 Add Debian 12
  metadata.json
Labels: enhancement

#1256 Drop CentOS 7 and 8
  metadata.json
Labels: backwards-incompatible

#1241 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#1231 Change license endpoint
  lib/puppet/provider/elasticsearch_license/ruby.rb
  manifests/license.pp
  spec/classes/006_elasticsearch_license_spec.rb
  spec/unit/provider/elasticsearch_license/ruby_spec.rb
Labels: enhancement

#1232 Add a parameter to package mark hold
  REFERENCE.md
  manifests/init.pp
  manifests/package.pp
  spec/classes/000_elasticsearch_init_spec.rb
  types/multipath.pp
  types/status.pp
Labels: enhancement

#1259 Remove unused parameters (logging)
  REFERENCE.md
  data/common.yaml
  manifests/config.pp
  manifests/init.pp
  templates/etc/elasticsearch/log4j2.properties.erb
Labels: backwards-incompatible
